
#alphaBlock  {

}

#bravoBlock  {


}
#deltaBlock  {

}

 #epsilonBlock  {
 	/*box-shadow: inset 0 10px 6px -10px black;*/
 }
 #foxtrotBlock  {

 }
 #gameBoard  {

 }
 #guerrillaBlock  {
 	color: white;
 	margin-right: 2px;
 	background-color: red;
 }

 #hotelBlock  {
 	color: white;
 	/*margin-right: 1px;
 	margin-left: 1px;*/
 }
#indigoBlock  {
	color: red;
	background-color: black;
	padding: 10px;
	
}
.middleRow  {
 	padding-bottom: 3px;
 	padding-top: 3px;
}
.middleColumn  {
 	padding-left: 3px;
 	padding-right: 3px;
}


.blankSpace  {
 	color: white;
 	background-color: white;
}
.boardSquares  {
	background-color: white;
}
.gameRows  {
	width: 80%;
	margin: 0 auto;
	background-color: blue;
}

.winCounter  {
	height: 20%;
	text-align: center;
	font-size: 2em;
	background-color: lightblue;
}
