
#alphaBlock  {
	box-shadow:inset -10px 0 6px -10px black;
}

#bravoBlock  {
	box-shadow:inset -4px 0 6px -4px black;

}
#deltaBlock  {
	box-shadow:inset -10px 0 6px -10px black;
}

 #epsilonBlock  {
 	/*box-shadow: inset 0 10px 6px -10px black;*/
 }
 #foxtrotBlock  {
 	box-shadow: inset 0 10px 6px -10px black;
 }
 #guerrillaBlock  {
 	color: white;
 	box-shadow:inset -20px 0 6px -20px black;
 	box-shadow: inset 0 20px 6px -20px black;
 }

 #hotelBlock  {
 	color: white;
 	box-shadow: inset -10px 0 6px -10px black;
 	box-shadow: inset 0 10px 6px -10px black;
 }
#indigoBlock  {
	box-shadow: inset 0 10px 6px -10px black;
}


.blankSpace  {
 	color: white;
 	background-color: white;
}
.boardSquares  {
	background-color: white;
	/*border: 2px solid black;*/
	/*box-sizing:border-box;	*/
}
.gameRows  {
	width: 80%;
	margin: 0 auto;
}
.left-right-shadow  {
	box-shadow: 2px 0 2px -2px black, -10px 0 10px -10px black;
}
.winCounter  {
	height: 20%;
	text-align: center;
	font-size: 2em;
	background-color: lightblue;
}
